{% extends 'core/base.html' %}
{% load static %}

{% block bgr %}
    <!-- Header / Banner -->
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading text-center">
                    <h1 class="site-heading text-center">Avengers</h1>
                    <h2 class="subheading">Bienvenido al Universo Marvel</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'movies/css/styles.css' %}">
{% endblock %}



{% block content %}
<div class="container px-4 px-lg-5">
    <!--<h1 class="text-center mt-4 mb-3">Películas de Marvel</h1>-->
    <h1 class="card-title-1 text-primary text-center mt-4 mb-3">Películas de Marvel</h1>

<div class="row grid-container">
    {% for m in movies %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm border-0">
            <img src="{{ m.poster.url }}" class="card-img-top" alt="{{ m.title }}">
            <div class="card-body">
                <!-- Título -->
                <h5 class="card-title text-primary">{{ m.title }}</h5>
                <!-- Descripción en color claro para visibilidad sobre fondo oscuro -->
                <p class="card-text text-light">{{ m.description|truncatewords:20 }}</p>
                <!-- Fecha de estreno con un color un poco más brillante -->
                <p class="text-warning small">Estreno: {{ m.release_date }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    <!-- Paginación -->
    <nav>
        <ul class="pagination justify-content-center mt-4">
            {% if movies.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ movies.previous_page_number }}">Anterior</a>
                </li>
            {% endif %}
            {% for num in movies.paginator.page_range %}
                <li class="page-item {% if movies.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endfor %}
            {% if movies.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ movies.next_page_number }}">Siguiente</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
