{% extends 'core/base.html' %}
{% load static %}

{% block bgr %}

<style>
.elegant-title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ed1d24;
    text-shadow: 2px 2px 10px rgba(237, 29, 36, 0.5);
    letter-spacing: 4px;
    animation: glow 2s ease-in-out infinite;
}
@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 10px rgba(237, 29, 36, 0.5);
    }
    50% {
        text-shadow: 0 0 20px rgba(237, 29, 36, 0.8), 0 0 30px rgba(237, 29, 36, 0.6);
    }
}

</style>
    <!-- Header / Banner -->
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading text-center">
                    <h1 class="site-heading text-center">Avengers</h1>
                    <h2 class="elegant-title">Bienvenido al Universo Marvel</h2>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}

<div class="container px-4 px-lg-5">
    <h1 class="card-title-1 text-center mt-4 mb-3">Personajes</h1>

    <hr>
    <div class="row">
        {% for c in characters %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ c.img.url }}" class="card-img-top" alt="{{ c.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ c.name }}</h5>
                    <p class="text-warning small">{{ c.description|truncatewords:20 }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Paginación -->
    <nav>
        <ul class="pagination justify-content-center">
            {% if characters.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ characters.previous_page_number }}">Anterior</a>
                </li>
            {% endif %}
            {% for num in characters.paginator.page_range %}
                <li class="page-item {% if characters.number == num %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endfor %}
            {% if characters.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ characters.next_page_number }}">Siguiente</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
