<!-- core/templates/core/home.html -->
{% extends 'core/base.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}


{% block bgr %}
<header class="masthead">
  <div id="avengersCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="6000">


    <!-- Indicadores -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#avengersCarousel" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#avengersCarousel" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#avengersCarousel" data-bs-slide-to="2"></button>
    </div>

    <!-- Slides -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'core/assets/img/home-bg.png' %}" class="d-block w-100" alt="Banner 1">
        <div class="carousel-caption d-none d-md-block">
          <h1>Peter Parker</h1>
          <p>Su vecino y amigo el Hombre Araña</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="{% static 'core/assets/img/fantastic-bg.jpg' %}" class="d-block w-100" alt="Banner 2">
        <div class="carousel-caption d-none d-md-block">
          <h1>Reed Richards / Mr. Fantástico</h1>
          <p>Un científico muy inteligente y líder de los Cuatro Fantásticos</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="{% static 'core/assets/img/robert-bg.jpg' %}" class="d-block w-100" alt="Banner 3">
        <div class="carousel-caption d-none d-md-block">
          <h1>Alexander Goodwin Pierce</h1>
          <p>El líder de Hydra operando dentro de S.H.I.E.L.D</p>
        </div>
      </div>
    </div>

    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#avengersCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#avengersCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</header>

<!-- BANNER INFORMATIVO -->
<section class="info-banner my-5 py-5 text-center">
    <div class="container my-5">
        <h2>Explora el Universo Marvel</h2>
        <p>Descubre todo sobre tus superhéroes favoritos, las últimas películas, cómics legendarios y personajes icónicos que han marcado generaciones.</p>
        <a href="#noticias" class="btn btn-custom">Comenzar Aventura</a>
    </div>
</section>


<div class="container px-4 px-lg-5 my-5" id="noticias">
    <h1 class="section-title text-center">Las Ultimas Noticias del Mundo Marvel</h1>
    <hr>
</div>

<!-- GRID CON CARDS - 3 COLUMNAS (IMÁGENES ESTÁTICAS) -->
<div class="container px-4 px-lg-5 my-5">
    <div class="row g-4">
        <!-- Card 1 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card custom-card h-100 shadow">
                <div class="position-relative">
                    <span class="badge bg-danger badge-custom">Nuevo</span>
                    <img src="{% static 'core/assets/img/noticia1.jpg' %}" class="card-img-top" alt="Noticia 1">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary text-white">Nueva película de Avengers</h5>
                    <p class="card-text text-white">Se anuncia la próxima entrega de la saga de los Vengadores con nuevos personajes y sorpresas emocionantes.</p>
                    <p class="text-muted small">Fecha: 07/10/2025</p>
                    <a href="#" class="btn btn-custom-red btn-sm">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card custom-card h-100 shadow">
                <div class="position-relative">
                    <span class="badge bg-success badge-custom">Popular</span>
                    <img src="{% static 'core/assets/img/noticia2.jpg' %}" class="card-img-top" alt="Noticia 2">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary text-white">Cómo sobrevivir a un apocalipsis zombi en el universo Marvel</h5>
                    <p class="card-text text-white"></p>¿Intentas ahuyentar a los zombis no muertos más hambrientos de Marvel? Te tenemos cubierto.</p>
                    <p class="text-muted small">Fecha: 06/10/2025</p>
                    <a href="https://www.marvel.com/articles/comics/how-to-survive-a-zombie-apocalypse-in-the-marvel-universe" class="btn btn-custom-red btn-sm">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card custom-card h-100 shadow">
                <div class="position-relative">
                    <img src="{% static 'core/assets/img/noticia3.jpg' %}" class="card-img-top" alt="Noticia 3">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary text-white">Spider-Man se lanza a 'Magic: The Gathering'</h5>
                    <p class="card-text text-white">Las nuevas tarjetas también están repletas de huevos de Pascua y guiños a momentos icónicos de los cómics, que se extienden a lo largo de más de 60 años de historia de Spidey.</p>
                    <p class="text-muted small">Fecha: 05/10/2025</p>
                    <a href="https://www.marvel.com/articles/culture-lifestyle/magic-the-gathering-marvels-spider-man" class="btn btn-custom-red btn-sm">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card custom-card h-100 shadow">
                <div class="position-relative">
                    <img src="{% static 'core/assets/img/noticia4.jpg' %}" class="card-img-top" alt="Noticia 4">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary text-white">Los realizadores de 'Marvel Zombies' explican ese impactante final</h5>
                    <p class="card-text text-white">El director Bryan Andrews y el director de Marvel Television, Brad Winderbaum, se adentran en el detrás de escena del espantoso final de la serie.</p>
                    <p class="text-muted small">Fecha: 04/10/2025</p>
                    <a href="https://www.marvel.com/articles/tv-shows/marvel-zombies-ending-explained" class="btn btn-custom-red btn-sm">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card custom-card h-100 shadow">
                <div class="position-relative">
                    <img src="{% static 'core/assets/img/noticia5.jpg' %}" class="card-img-top" alt="Noticia 5">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary text-white">Disfruta de tu año en Marvel '25 intercambiando paquetes en Whatnot durante NYCC</h5>
                    <p class="card-text text-white">Disponible en Whatnot del 9 al 12 de octubre durante Beyond the Con: Nueva York!.</p>
                    <p class="text-muted small">Fecha: 03/10/2025</p>
                    <a href="https://www.marvel.com/articles/comics/whatnot-year-in-marvel-trading-packs-nycc-2025" class="btn btn-custom-red btn-sm">Leer más</a>
                </div>
            </div>
        </div>

        <!-- Card 6 -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card custom-card h-100 shadow">
                <div class="position-relative">
                    <img src="{% static 'core/assets/img/noticia6.jpeg' %}" class="card-img-top" alt="Noticia 6">
                </div>
                <div class="card-body">
                    <h5 class="card-title text-primary text-white">Ve La Saga de Marvel en Disney+</h5>
                    <p class="card-text text-white">Todas tus historias y personajes favoritos de Marvel, ahora en un solo lugar.</p>
                    <p class="text-muted small">Fecha: 02/10/2025</p>
                    <a href="https://www.marvel.com/disneyplus" class="btn btn-custom-red btn-sm">Leer más</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIN GRID CON CARDS -->

{% endblock %}


