/* core/static/core/css/styles.css */

/* Fonts y colores generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #fff;
}

/* Banner / Header */
.masthead {
    height: 50vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subheading {
    color: #f41818 !important;
    font-size: 5.5rem;  
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 4px #ff0000;
}
.site-heading h1 {
    font-size: 0.1rem;
    text-shadow: 2px 2px 5px #c70000;
}

.site-heading .subheading {
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px #000;
}

/* Cards */
.card {
    background-color: #1a1a1a;
    border: none;
    color: #fff;
}

.card .card-title {
    color: #fc0000;
    font-weight: bold;
}

.card .card-text {
    color: #ccc;
}

/* Footer */
footer {
    background-color: #0d0d0d;
    color: #fff;
}

/* Pagination */
.pagination .page-item .page-link {
    color: #fff;
    background-color: #1a1a1a;
    border: 1px solid #333;
}

.pagination .page-item.active .page-link {
    background-color: #f44336;
    border-color: #f44336;
    color: #fff;
}

.pagination .page-item .page-link:hover {
    background-color: #f44336;
    border-color: #f44336;
}

.navbar {
    background: linear-gradient(90deg, #0d0d0d 0%, #1a1a1a 100%);
    font-family: 'Poppins', sans-serif;
}
.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #780000 ;
}

.navbar-nav .nav-link {
    color: #ccc ;
    margin-left: 1rem;
    transition: color 0.3s ease, transform 0.2s;
    font-weight: 500;
    list-style: none;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #ff3b3b ;
    transform: scale(1.05);
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.3);
}

.navbar-toggler-icon {
    filter: invert(100%);
}

/* Espaciado del contenido por navbar fija */
body {
    padding-top: 70px;
}
.grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 2fr));
        gap: 30px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
/* Responsividad */
@media (max-width: 992px) {

    .navbar-nav .nav-link {
        margin: 0.5rem 0;
    }
}
    .navbar-nav {
    display: flex;
    flex-direction: row; /* Esto hace que los <li> estén en fila */
    list-style: none;
    text-align: center;
}

